<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
		point="org.eclipse.ui.popupMenus">

		<objectContribution
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.css"
			id="de.bitexpert.eclipse.smartsprites.cssFileMarker">
			<menu
				label="External Tools"
				path="additions"
				id="de.bitexpert.eclipse.popup.externalTools">
				<separator name="content"/>
			</menu>
			<action
				label="Generate Spritemap"
				class="de.bitexpert.eclipse.smartsprites.popup.actions.SmartspritesExecutor"
				menubarPath="de.bitexpert.eclipse.popup.externalTools/content"
				enablesFor="+"
				id="de.bitexpert.eclipse.smartsprites.execAction">
			</action>
		</objectContribution>
	</extension>
</plugin>